{% extends 'base.html.twig' %}

{% block title %}TempoCraft - Bannit{% endblock %}

{% block stylesheets %}      
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom/main.css">
{% endblock %}

{% block body %}
<main role="main" class="container mt-5">
    <div class="jumbotron">
        <h1>BAN</h1>
        <p>Tu es bannis. Tu peux toujours essayer de contacter la modération mais il ne fallait pas troll.</p>
    </div>
</main>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/jquery.min.js"></script>
{% endblock %}
